
<div class="dashboard">
    <!-- Navbar -->
    <nav class="navbar">
      <div class="navbar-brand">Emergency-Rescue-Reporting</div>
      <br>
      <ul class="navbar-links">
        <!-- <li><a routerLink="/login" routerLinkActive="active">Login</a></li> -->
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/addEmployees" routerLinkActive="active">Add Employees</a></li>
        <li><a routerLink="/displayList" routerLinkActive="active">Display List</a></li>
        <li><a routerLink="/attendence" routerLinkActive="active">Attendance</a></li>
        <li><a routerLink="/todayAttendenceList" routerLinkActive="active">Today's Attendance</a></li>
      </ul>
    </nav>

    <!-- Main Content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
